<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <!--Modal header-->
        <div class="modal-header">
            <button data-dismiss="modal" class="close" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title text-center">{{ entity.utilisateur.uniqueNom|title }}</h4>
        </div>

        <!--Modal body-->
        <div class="modal-body">
            <table class="table table-striped">
                <tr>
                    <td class="td-title">Nom:</td>
                    <td class="td-val"><strong>{{ entity.utilisateur.uniqueNom|title }}</strong></td>
                </tr>
                <tr>
                    <td class="td-title">Email:</td>
                    <td class="td-val">{{ entity.utilisateur.email }}</td>
                </tr>
                <tr>
                    <td class="td-title">Tél mobile:</td>
                    <td class="td-val">{{ entity.mobile }}</td>
                </tr>
                <tr>
                    <td class="td-title">Etat:</td>
                    <td class="td-val">
                        {% if entity.utilisateur.active == '1' %}
                            <span class="badge badge-success">
                                Activé <span class="fa fa-check"></span>
                            </span>
                        {% elseif entity.utilisateur.active == '0' %}
                            <span class="badge badge-danger">
                                Désactivé <span class="fa fa-minus-circle"></span>
                            </span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="td-title">Inscri le:</td>
                    <td class="td-val">{{ entity.utilisateur.dateInscription|localizeddate('medium', 'none', 'fr') }}</td>
                </tr>
                <tr>
                    <td class="td-title">Dernière connexion:</td>
                    <td class="td-val">{{ entity.utilisateur.dernierConnexion|localizeddate('medium', 'none', 'fr') }}</td>
                </tr>
            </table>
        </div>

        <!--Modal footer-->
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-primary" type="button">
                Fermer
            </button>
        </div>
    </div>
</div>

