{% extends 'front_office/base.html.twig' %}
{% block body %}
    <section class="uv-subpage-heading image-bg"
             style="background-image: url({{ asset('assets/frontOffice/images/sub-banner.jpg') }});">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="uv-subhead-content col-xs-12">
                        <h2>Changer email </h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="uv-pagination">
        <div class="container">
            <ul>
                <li class="active"><a href="{{ path('front_accueil') }}">Accueil</a></li>
                <li><a href="#">Changer email</a></li>
            </ul>
        </div>
    </div>

    <section class="uv-profile page-not-found">
        <div class="container">
            <div class="row section-separator">
                {{ render(controller('App\\Controller\\FrontOffice\\EspaceEtudiant\\ProfilController::leftSide')) }}
                <div class="col-sm-8">
                    <div class="uv-sudent-profile-info">
                        <div class="uv-student-courses-overview">
                            <h3 class="text-center">Modifier email</h3>

                            <div class="uv-profile-setting-inner" style="padding: 20px;">
                                <div class="row">
                                    {{ form_start(form) }}
                                    <div class="col-lg-6">
                                        {{ form_row(form.email) }}
                                    </div>
                                    <div class="col-lg-6">
                                        {{ form_row(form.currentPassword) }}
                                    </div>
                                    {{ form_widget(form) }}
                                    <div class="col-xs-12">
                                        <input type="submit" value="Enregistrer" class="btn btn-fill">
                                    </div>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}