{% spaceless %}
    <!DOCTYPE html>
    <html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8"/>
        <link rel="icon" type="image/x-icon" href="{{ asset('assets/images/favicon.ico') }}"/>
        <title>{% block title %}Espace administration!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('assets/backOffice/css/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/backOffice/css/nifty.min.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/backOffice/css/nifty-demo-icons.min.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/backOffice/font-awesome-4.7.0/css/font-awesome.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/backOffice/plugins/fooTable/css/footable.core.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/backOffice/css/nifty-demo.min.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/backOffice/plugins/bootstrap-select/bootstrap-select.min.css') }}"
                  rel="stylesheet">
            <!--Bootstrap Tags Input [ OPTIONAL ]-->
            <link href="{{ asset('assets/backOffice/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.css') }}"
                  rel="stylesheet">
            <!--Chosen [ OPTIONAL ]-->
            <link rel="stylesheet" href="{{ asset('assets/backOffice/chosen_v1.8.7/chosen.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/backOffice/chosen_v1.8.7/chosen-bootstrap.css') }}">

            <link href="{{ asset('assets/backOffice/css/tooltip.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/backOffice/css/custom.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/backOffice/javascripts/ajax.css') }}" rel="stylesheet">
        {% endblock %}

        <!--Page Load Progress Bar [ OPTIONAL ]-->
        <link href="{{ asset('assets/backOffice/plugins/pace/pace.min.css') }}" rel="stylesheet">
        <script src="{{ asset('assets/backOffice/plugins/pace/pace.min.js') }}"></script>
        <link href="{{ asset('assets/flashMessage/css/flash-message.css') }}" type="text/css" rel="stylesheet"/>

        <!--jQuery [ REQUIRED ]-->
        <script src="{{ asset('assets/backOffice/js/jquery-2.2.1.min.js') }}"></script>
    </head>
    <body>
    <div id="container" class="effect mainnav-lg">
        {{ render(controller('App\\Controller\\BackOffice\\DefaultController::header')) }}
        <div class="boxed">
            <!--CONTENT CONTAINER-->
            <!--===================================================-->
            <div id="content-container">
                <!--Page Title-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                {% block page_header %}
                    <div id="page-title">
                        <h1 class="page-header text-overflow">{% block page_title %}{% endblock %}</h1>
                        <!--retour-->
                        <div class="searchbox hidden-xs hidden-sm">
                            <span class="input-group-btn">
                                <a href="javascript:history.back()"
                                   class="btn btn-warning btn-labeled fa fa-arrow-circle-left pull-right">
                                    <strong>Retour</strong>
                                </a>
                            </span>
                        </div>
                    </div>
                {% endblock %}
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!--End page title-->
                <!--Breadcrumb-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <ol class="breadcrumb">
                    {% block breadcrumb %}
                        <li><a href="{{ path('back_accueil') }}">Accueil</a></li>
                        {% block breadcrumb_content %}{% endblock %}
                    {% endblock breadcrumb %}
                </ol>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!--End breadcrumb-->
                <!--Page content-->
                <!--===================================================-->
                <div id="page-content">
                    {% block body %}{% endblock body %}
                    <div id="divLoading" class="" style="z-index: 99999; display: none">
                        <img src="{{ asset('assets/images/ajax_loader.gif') }}" width="150" height="150"/>
                    </div>
                </div>
                <!--===================================================-->
                <!--End page content-->
            </div>
            <!--===================================================-->
            <!--END CONTENT CONTAINER-->
            {{ include ('back_office/includes/menu.html.twig') }}
            <!--===================================================-->
            <!--END NAVBAR-->
        </div>

        <!-- modal for show -->
        <div class="modal fade" id="myModalShow" role="dialog" tabindex="-1"
             aria-labelledby="demo-default-modal" aria-hidden="true">
        </div>
        <!-- end modal show -->

        <!-- SCROLL TOP BUTTON -->
        <!--===================================================-->
        <button id="scroll-top" class="btn"><i class="fa fa-chevron-up"></i></button>
        <!--===================================================-->
    </div>
    <!--===================================================-->
    <!-- END OF CONTAINER -->
    {{ include('flashMessage/flash-messages.html.twig') }}

    {% block javascripts %}
        <!--JAVASCRIPT-->
        <!--=================================================-->
        <!--BootstrapJS [ RECOMMENDED ]-->
        {# jquery-ui.min.js must be the first one , to tooltip work #}
        <script src="{{ asset('assets/backOffice/js/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('assets/backOffice/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/backOffice/js/bootbox.min.js') }}"></script>
        <script src="{{ asset('assets/backOffice/plugins/bootstrap-select/bootstrap-select.min.js') }}"></script>
        <script src="{{ asset('assets/backOffice/js/nifty-demo.min.js') }}"></script>
        <script src="{{ asset('assets/backOffice/js/nifty.min.js') }}"></script>
        <script src="{{ asset('assets/backOffice/js/masonry.pkgd.min.js') }}"></script>
        <script src="{{ asset('assets/backOffice/plugins/bootstrap-select/bootstrap-select.min.js') }}"></script>
        {#<script src="{{ asset('assets/backOffice/plugins/chosen/chosen.jquery.min.js') }}"></script>#}
        <script src="{{ asset('assets/backOffice/chosen_v1.8.7/chosen.jquery.min.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('assets/backOffice/chosen_v1.8.7/docsupport/init.js') }}" type="text/javascript"
                charset="utf-8"></script>

        {# mines #}
        <script src="{{ asset('assets/backOffice/javascripts/functions.js') }}"></script>
        <script src="{{ asset('assets/backOffice/javascripts/load-data-in-modal.js') }}"></script>
        <script src="{{ asset('assets/backOffice/javascripts/remove.js') }}"></script>
        <script src="{{ asset('assets/backOffice/javascripts/lock_unlock.js') }}"></script>
        <script src="{{ asset('assets/backOffice/javascripts/search.js') }}"></script>
        <script src="{{ asset('assets/backOffice/javascripts/filtering.js') }}"></script>
        <script src="{{ asset('assets/backOffice/javascripts/feature.js') }}"></script>
        <script src="{{ asset('assets/backOffice/javascripts/form-add-ajax.js') }}"></script>
        <script src="{{ asset('assets/backOffice/javascripts/upload-multiple.js') }}"></script>
        <script src="{{ asset('assets/backOffice/javascripts/reorder.js') }}"></script>
        <script src="{{ asset('assets/backOffice/javascripts/messages.js') }}"></script>

        <script src="{{ asset('assets/flashMessage/js/flash-message.js') }}" type="text/javascript"></script>
        <script>
            $('#flash-messages').flashNotification('init');
        </script>
    {% endblock %}

    </body>
    </html>
{% endspaceless %}
